/* Wild card Style covers entire Webpage */
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* head element does not need to be styled with CSS */
/* Body Element */
body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  font-size: 20px;
  background-color: #FDF8F5;
  color: #4F4846;
}

/* header element is containder in the body */
header,
 footer {
  /* Sets the height and width of header */
  height: 50px;
  width: 100%;
  line-height: 50px;
  /* Sets background color */
  background-color: #266150;
  margin: 0px 0px 0px 0px;
}

header {
  /* Sets border to bottom only */
  border-bottom: 10px solid #E8CEBF;
  position: fixed;
  top: 0;
}

footer {
  /* Center text */
  text-align: center;
  /* make the font size smaller */
  font-size: small;
  /* Sets border to bottom only */
  border-bottom: 10px solid #4F4846;
  /* color: white; */
  color: #FDF8F5;
  position: relative;
  bottom: 0;
}

h1 {
  text-align: center;
  margin: 70px 0px 15px 0px;
  position: relative;
}

h2 {
  text-align: center;
  margin: 10px;
}

li {
  display: inline;
  list-style-type: none;
}

label {
  display: inline-block;
  list-style-type: none;
}

a {
  color: white ;
  text-decoration: none;
  padding: 15px ;
  font-size:15px;
}

input,
textarea {
  box-sizing: border-box;
  width: 400px;
  border: 1px solid #4F4846;
}

textarea {
  vertical-align: top;
  height: 75px;
}

form {
  margin: 0 auto;
  width: 500px;
  padding: 0px 50px 0px 50px;
  border: 5px solid #DDAF94;
  border-radius: 15px;
}

button {
  height: 40px;
  width: 120px;
  margin: 10px 15px 10px 200px;
  background-color: #4F4846;
  color: white;
}

.navigation {
  display: block;
  text-align: right;
  top: 5px;
  right: 25px;
  font-size: 18px;
}

.title {
  font-size: 40px;
}

.bodbox {
  text-align: center;
  display: block;
}

.formbox {
  margin-bottom: 0;
  padding: 20px 10px 40px 10px;
  border-top: 3px solid #DDAF94;
  background-color:  #E8CEBF;
}

.contact {
  /* My Brother Pushed Containers */
  color: white;
  margin: 50px;
  padding: 20px 40px;
}

.example-box {
  /* Shortcut method sets top and bottom padding to 20px and left and right to 40px */
  padding: 20px 40px;
}

.image-padding {
  /* Sets padding on all sides to 20px */
  padding: 20px;
  background-color: #999900;
}

.image-border {
  /* Sets border on all sides */
  border: 10px solid darkblue;
}

.image-margin {
  /* Sets all sides to 20px */
  margin: 20px;
}
